<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="items" ng-style="textBoxCSS"
             placeholder="list comma separated dishes you usually have for lunch. DO NOT enter empty strings"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="Check()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style="myCSS">
           <!-- Your message can go here. -->
           {{printMessage}}
         </div>
   </div>

</body>
</html>
